:root{--main-color: #31394b;}
:root{--sub-color:#c5a28c;}


/* web input & design input common style */

.webDesignInput{width:100%; height: auto; border:1px solid var(--main-color); padding:10px;}
.webDesignInput .titleSer{width:100%; height: auto; _display:flex; _justify-content: space-between; _flex-grow: 1;}
.webDesignInput .titleSer p{width:calc(33.33% - 1px); float:left;margin-right:1px;}
.webDesignInput .titleSer p.client_input{float:right; margin-right:0;}
.webDesignInput .titleSer p label{background: var(--main-color); color: #fff; padding: 10px 20px; display: block; width: 20%;text-align: center; float:left;}
.webDesignInput .titleSer p.serial_input>label{padding:10px 10px;}
.webDesignInput .titleSer p input{width:80%; border: 1px solid var(--main-color); padding: 11px; float:left;}

.webDesignInput .uploadDesc textarea{width:100%; height:200px; border:1px solid var(--main-color);
margin-top: 10px; resize: none; padding: 10px;}

.webDesignInput .uploadImgs{float:left; width:100%; height: auto; _display: flex; _justify-content: _space-between; _flex-grow: 1; box-sizing:border-box;}
.webDesignInput .uploadImgs .uploadBox{width: calc(33.33% - 2px); height: auto;position:relative; _flex:0.5 1 30%; margin-right:0; float:left;}
.webDesignInput .uploadImgs .uploadBox:nth-child(2){margin:0 1px 0 3px;}
.webDesignInput .uploadImgs .uploadBox:nth-child(3){float:right;}

/* web input page style */
.webInputForm .titleSer p{width:calc(50% - 2px); margin-right:0;}
.webInputForm .titleSer p:nth-child(1),
.webInputForm .titleSer p:nth-child(3){float:left;margin-right:2px;}
.webInputForm .titleSer p:nth-child(2),
.webInputForm .titleSer p:nth-child(4){float:right;}

.webInputForm .titleSer p:nth-child(1),
.webInputForm .titleSer p:nth-child(2){margin-bottom: 10px;}


/* app page app upload img box */
.webDesignInput .uploadImgs .uploadBox.appImg{width:calc(50% - 2px); margin-right:0;}
.webDesignInput .uploadImgs .uploadBox.appImg:nth-child(1){float:left; margin-right:1px;}
.webDesignInput .uploadImgs .uploadBox.appImg:nth-child(2){float:right;}

.webDesignInput .uploadBox .inputControll{text-align:center;}
.webDesignInput .uploadBox .inputControll input[type="file"]{position:absolute; 
width:1px; height: 1px; padding:0; margin:-1; overflow:hidden; }

.webDesignInput .uploadBox .inputControll label{display:block; width:100%; height:auto; 
text-align:center; border: 1px solid var(--main-color); color:#fff; background:var(--main-color);padding:10px 0; transition: all 0.4s;}
.webDesignInput .uploadBox .inputControll label:hover{background: #fff; color:var(--main-color);}

.webDesignInput .uploadName{display: block; padding: 10px; width:100%; 
border:1px solid var(--main-color); color: var(--main-color); margin-bottom: 10px;}
.webDesignInput .imgWrap{width:100%; height: auto; padding: 5px;
border:1px solid var(--main-color); overflow: hidden;margin-top: 10px;}
.webDesignInput .imgWrap img{width:100%;}


/* buttons style */
.upload .btns{width:100%; height: auto;margin:15px 0 0 0; display:flex; justify-content: center;
transition:all 0.3s; }
.upload .btns .commonBtn{margin-right: 5px; transition:all 0.3s;background:#fff;}
.upload .btns .commonBtn:hover{background:var(--main-color); color: #fff;}



