:root{--main-color: #31394b;}
:root{--sub-color:#c5a28c;}


/* web input & design input common style */

.webDesignInput{width:100%; height: auto; border:1px solid var(--main-color); padding:10px;}
/* form 여백 없애기??? */
/* .webDesignInput>form{margin:0 auto;box-sizing: border-box; width: 100%; padding: 0; border-width: 0;} */

.webDesignInput .titleSer{width:100%; height: auto; _display:flex; _justify-content: space-between; _flex-grow: 1;}
/* .designInputForm .titleSer .title_input{display:flex; align-items: space-evenly;}
.designInputForm .titleSer .serial_input{display:flex; align-items: space-evenly;} */


.webDesignInput .titleSer p{width:calc(33.33% - 1px); float:left;margin-right:1px;}


.webDesignInput .titleSer p.client_input{float:right; margin-right:0;}
.webDesignInput .titleSer p label{background: var(--main-color); color: #fff; padding: 10px 20px; display: block; width: 20%;text-align: center; float:left;}
.webDesignInput .titleSer .serial_input>label{padding:10px 10px;}
.webDesignInput .titleSer p input{width:80%; border: 1px solid var(--main-color); padding: 10px; float:left;}

.webDesignInput .uploadDesc textarea{width:100%; height:200px; border:1px solid var(--main-color);
margin-top: 10px; resize: none; padding: 10px;}

.webDesignInput .uploadImgs{float:left; width:100%; height: auto; _display: flex; _justify-content: _space-between; _flex-grow: 1; box-sizing:border-box;}
.webDesignInput .uploadImgs .uploadBox{width: calc(33.3% - 1px); height: auto;position:relative; _flex:0.5 1 30%; margin-right:1px; float:left;}
.webDesignInput .uploadImgs .uploadBox:nth-child(3){margin-right:0;float:right;}

/* app page app upload img box */
.webDesignInput .uploadImgs .uploadBox.appImg{width:49.5%;}


.webDesignInput .uploadBox .inputControll{text-align:center;}
.webDesignInput .inputControll input[type="file"]{position:absolute; 
width:1px; height: 1px; padding:0; margin:-1; overflow:hidden; }


.webDesignInput .inputControll label{display:block; width:100%; height:auto; 
text-align:center; border: 1px solid var(--main-color); color:#fff; background:var(--main-color);padding:10px 0; transition: all 0.4s;}
.webDesignInput .inputControll label:hover{background: #fff; color:var(--main-color);}

.webDesignInput .uploadName{display: block; padding: 10px; width:100%; 
border:1px solid var(--main-color); color: var(--main-color); margin-bottom: 10px;}
.webDesignInput .imgWrap{width:100%; height: auto; padding: 5px;
border:1px solid var(--main-color); overflow: hidden;margin-top: 10px;}
.webDesignInput .imgWrap img{width:100%;}


/* buttons style */
.upload .btns{width:100%; height: auto;margin:15px 0 0 0; display:flex; justify-content: center;
transition:all 0.3s; }
.upload .btns .commonBtn{margin-right: 5px; transition:all 0.3s;
background:#fff;}
.upload .btns .commonBtn:hover{background:var(--main-color); color: #fff;}


/* web input page style */
.webInputForm .titleSer{flex-wrap:wrap;}


.webInputForm .titleSer p{width:49.5%;}
.webInputForm .titleSer p:nth-child(1),
.webInputForm .titleSer p:nth-child(2)
{margin-bottom: 10px;}

