@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

:root{--main-color: #31394b;}
:root{--sub-color:#c5a28c;}


/********************
 main page style 
 ********************/

/* top main section style */
.topMain{width:90%; margin:auto; height:auto; background:#ddd;}
.topMain .bannerBox{width:40%; float:left; overflow:hidden; position:relative; height:50vh; background:var(--main-color); }
.topMain .bannerBox img{width:100%;}

.topMain .headerBox{width:60%; float:right; overflow: hidden;
position:relative; height:50vh; background:url(../img/header_img_1.png)
no-repeat center center;background-size:cover;}
.topMain .headerBox img{width:100%;}

.topMain .bannerBox>.overlay{background:rgba(0,0,0,0.6);}
.topMain .headerBox>.overlay{background:rgba(208,175,81,0.4);}

/* banner box slogan style */
.topMain .bannerBox .slogan{z-index:2; position: absolute; color:#fff; right:40px; top:50%; transform:translateY(-50%);
width:100%; text-align:right; font-family: 'Pangolin';}
.topMain .bannerBox .slogan h2{font-size: 3.5vw; color:#fff;letter-spacing: 8.2px;}
.topMain .bannerBox .slogan h2 b{color:var(--sub-color); font-weight:400;}
.topMain .bannerBox .slogan p{text-transform:uppercase; color: rgba(187, 187, 187, 0.568); margin-right:12%;
display:inline-block; font-size:12px;letter-spacing: 5px; font-weight: 300;}
.topMain .bannerBox .slogan hr{width:18%; display:inline-block;
margin-bottom: 3px;  border:0; border-bottom:1px solid #eee;}



/* banner box sns style */
.topMain .loginWrap{width:40%; height:60px; background: var(--sub-color);
float:left; float:left; display: flex; justify-content: space-between;}
.topMain .logBox{width:100%; height: 60px; display: flex;justify-content: flex-end; align-items: center;
border-right:1px solid var(--main-color);}
.topMain .logBox a{display: inline-block; padding: 0 25px; color:#fff; border-left: 1px solid var(--main-color); 
font-family:'Pangolin'; font-weight: 700; font-size:16px;transition: all 0.4s; }
.topMain .logBox a:hover{color:var(--main-color);}

.topMain .logBox a:first-child{border-left: 0; }

/* .topMain .sns ul{width:40%; float:right; display: flex; 
justify-content: space-evenly; align-items: center; height: 60px;}
.topMain .sns ul i.fa{color:#fff; background: #ccc; font-size:20px;
width:30px; height:30px; display:flex; align-items: center; 
justify-content: center; border-radius: 50%;}
.topMain .sns ul i.fa:hover{background:#bbb;} */


/* header box gnb style */
.topMain .gnb{width:60%; height:60px; background: var(--main-color);
float:right; }
.topMain .gnb ul li{float:left; height: 60px; padding:0 30px; display: flex; align-items: center; 
text-transform: uppercase;   transition: all 0.4s;}
.topMain .gnb ul li:hover{background:var(--sub-color);}
.topMain .gnb ul li.active{background:#fff;}
.topMain .gnb ul a{color: var(--sub-color); font-family: 'Pangolin';font-size: 18px; font-weight: 400; }
.topMain .gnb ul li:hover a,
.topMain .gnb ul li.active a{color:var(--main-color);}

/* mobile menu style */
.mobileMenu{width:30px; height: 30px; border:1px solid var(--main-color);
display:flex; align-items: center; justify-content:center; float:right;display:none;}
.mobileMenu i.fa{color: var(--main-color); font-size: 22px;}


/* New Arrivals Section Style */
.arrivals .arrivalBox{width:100%; height: auto; float:left; display: flex;
justify-content: space-between; padding:50px 0 0  ;}
.arrivals .arrivalBox .arrivalCon{width:30%; height: auto; position: relative;
overflow: hidden; }
.arrivals .arrivalBox .arrivalCon img{width:100%;}

.arrivals .arrivalBox .arrivalCon .overlay{background:rgba(208,175,81,0.4);}

.arrivals .arrivalCon .arrivalTxt,
.arrivals .arrivalCon .best{position: absolute; width: 100%; left: 0;
text-align: center; z-index: 5; text-transform: uppercase; top:50%; transform:translateY(-50%);
color:#fff;}
.arrivals .arrivalCon .arrivalTxt h2{font-family: 'Dancing Script'; font-size: 30px;}
.arrivals .arrivalCon .arrivalTxt em{font-style: normal; font-weight:400 ;
font-size:16px; letter-spacing: 2px;}
.arrivals .arrivalCon .best a{display: inline-block; color: #fff; font-size: 16px;
padding: 8px 50px; border:1px solid #fff; transition: all 0.4s;}
.arrivals .arrivalCon .best a:hover{background: var(--main-color); border:1px solid var(--main-color);}
.arrivals .arrivalCon .best p{font-size:25px; font-weight: 700; letter-spacing: 2px;}

/* .arrivals .arrivalBox .arrivalCon:first-child{margin-left:0;} */


/* Product type Section Style */
.product{background: #ddd;}
.product .productBox{width:100%; height: auto;
float:left; margin:50px 0 0;  display:flex;}
.product .productBox>div{width:50%; height: auto; float:left;}
.product .productBox>div>.productImg{width:50%; padding:5px; position:relative;}

.product .productImg>.outline{position:absolute; width:80%; height:80%; 
left:10%; top:10%; border:1px solid var(--main-color);display: flex;
align-items: center;justify-content: center; opacity: 0; transition: all 0.4s;}
.product .productImg>.outline i.fa{width: 40px; height: 40px; border:1px solid var(--main-color);
display: block; color:var(--main-color); font-size: 25px;border-radius: 50%; display: flex;
align-items: center;justify-content: center;}

.product .productImg>img{width: 100%; transition: all 0.4s;}


.product .productImg:hover>.outline{opacity: 1;}
.product .productImg:hover>img{filter:blur(5px);}


.product .productBox .boxLeft{display: flex; flex-wrap: wrap;}
.product .productBox .boxRight{padding:5px; }

.product .boxRight .productTxt{width:100%; height:100%; border:1px solid var(--main-color);
padding:5px;}


.product .boxRight .productTxt>div{width:100%; height: 100%; border:1px solid var(--main-color);  background:#fff; display:flex; justify-content: center; flex-direction: column;
padding:30px;}    
.product .boxRight .productTxt>div>h2{font-size: 30px;font-weight: 400;
transform:translateY(30px); opacity:0; animation:slideUp 0.4s 1; 
animation-fill-mode: forwards;}


.product .boxRight .productTxt>div>p{margin:15px 0; font-size: 16px; line-height: 1.6;
font-weight: 300; transform:translateY(30px); opacity:0;animation:slideUp 0.4s 1; 
animation-fill-mode: forwards; animation-delay: 0.4s;} 

.product .boxRight .productTxt>div>a{display:inline-block; padding: 10px 0; 
border: 1px solid var(--main-color); color: var(--main-color); text-transform: uppercase;
width:30%; text-align: center;margin-top: 10px; transition: all 0.4s; transform:translateY(30px); opacity:0;animation:slideUp 0.4s 1; animation-fill-mode: forwards; animation-delay: 0.8s;}
.product .boxRight .productTxt>div>a:hover{background: var(--main-color); color: #fff;}


/* Web & App Preview Section Style - 추후 클래스명 변경 필요 */
.fashionBox{width:100%; height: auto; float: left;display: flex;padding:30px;}

.fashionBox.men{border-bottom:1px solid #ddd ;}
.fashionBox.women{padding-bottom: 0;}

.fashionBox>.fashionTxt{display: flex; align-items: center; justify-content: center;
flex-direction: column; padding:20px;text-align: center;}
.fashionBox>.fashionTxt h2{text-transform: uppercase; color: #333; font-size: 24px;
font-weight: 400;}
.fashionBox>.fashionTxt h2 em{font-style: normal; color: var(--main-color);}
.fashionBox>.fashionTxt p{margin:15px 0;}
.fashionBox>.fashionTxt a{display: inline-block; padding: 10px 40px; 
border:1px solid var(--main-color); transition: all 0.4s; text-transform: uppercase;}
.fashionBox>.fashionTxt a:hover{color: #fff; background: var(--main-color);} 


.fashionBox>div{width:25%; padding: 10px;  }
.fashionBox>.fashionImg>div{padding:10px; border:1px solid var(--main-color); text-align:center; }
.fashionBox>.fashionImg>div>img{width:100%; }
.fashionBox>.fashionImg>div>h2{color:var(--main-color); font-weight: 600; padding: 10px 0; font-size:20px;}
.fashionBox>.fashionImg>div>em{color:#838383; font-style:normal;}
.fashionBox>.fashionImg>div>a{display:block; width:100%; height:auto; padding:5px 0; 
border:1px solid var(--main-color); margin-top: 15px; transition: all 0.4s;}
.fashionBox>.fashionImg>div>a:hover{color: #fff; background: var(--main-color);}






/* About us section style */
.about{background: var(--main-color); border-bottom:1px solid #aaa; }
/* .about .center{width:100%; height:auto; max-width: 800px; margin: auto; display:flex; justify-content: center; align-items:center;flex-direction: column;} */

/* about title style */
.hasTitle.about .title h2{color:var(--sub-color);}
.hasTitle.about .title .subTit .subLine{background: #fff;}
.hasTitle.about .title .subTit a.subLink{background: #181818; color:#fff; }



/* about text style */
.about .aboutTxt{width:100%; height: auto; text-align: center;}
.about .aboutTxt p{font-weight: 300; line-height: 1.6; color:#838383;}

.about .aboutTxt p.address{margin-top:15px; color:#ccc;}
.about .aboutTxt p.address a{color:var(--sub-color);}

.about .sns{width:100%; height:auto; margin:20px 0; 
display:flex; align-items: center; justify-content: center;}
.about .sns i.fab,
.about .sns i.fas{color:#fff; border:1px solid #fff;
width:30px; height:30px; margin:5px; display:flex; align-items: center; 
justify-content: center; }
.about .sns i.fab:hover,
.about .sns i.fas:hover{background:#333;} 






/* map and form box in contact section style */
.contact .contactBox{width:100%; height: auto; margin:50px 0;
display: flex;}
.contact .contactBox>div{width:50%; padding: 5px;}

/* contact mapBox style */
.contact .contactBox .mapBox .map{border:1px solid var(--main-color);
width:100%; height: 100%; padding:10px;}
.contact .contactBox .mapBox .map iframe{width:100%; height: 100%;
border:0;}

/*contact formBox style  */
.contact .formBox .form{border:1px solid var(--main-color); padding: 10px;}

.contact .formBox .form input,
.contact .formBox .form textarea
{display:block; padding: 15px; border: 1px solid var(--main-color); border-radius: 0; outline:0;}

.contact .formBox .form>p.subject{margin: 10px 0;}
.contact .formBox .form .nameMail{width:100%; height: auto;
display:flex; justify-content: space-between;}
.contact .formBox .form .nameMail>input{width:calc(50% - 5px);}

.contact .formBox .form .subject>input{width:100%; }
.contact .formBox .form .message>textarea{width:100%; height:300px;resize:none;}

.contact .formBox .form a{display: inline-block; width: 100%; 
color: var(--main-color); padding: 15px 0; border: 1px solid var(--main-color);
margin-top: 10px; text-align: center;}
.contact .formBox .form a:hover{background:var(--main-color); color:#fff;} 

/* footer style */
footer{width:100%; height:auto; background: #181818; 
text-align:center;}
footer p{color:#fff; text-transform: uppercase; font-weight: 300;
padding: 30px 0;}
footer p span{color:var(--main-color); font-weight: 400;}








