/* 로그인 안 했을 때/level이 1이 아닐 때 경고문 */
.deny{width:100%; height:auto; text-align:center;
padding:50px 0; font-weight: 600; font-family:'Noto Sans KR'; color:#838383;}
.deny p{font-size:25px; font-weight:600; margin-bottom: 10px;}
.deny a{background:#d0af51; color:#fff; padding:10px 25px; display:inline-block;}


/* admin page mai tabs style */
.admin .adminTabs{width:80%; height:auto; margin:auto; text-align:center; }
.admin .adminTabs button{border:1px solid #d0af51; font-weight:600; background:#fff;
padding:10px 30px; transition:all 0.4s; color:#d0af51; cursor: pointer;}
.admin .adminTabs button i{font-style:normal ; display:none;}
.admin .adminTabs button:hover,
.admin .adminTabs button.active{background:#d0af51; color:#fff;}


/* admin page Message Table style */

.admin .msgTable{width:80%; height:auto; margin:50px auto 0;}

.admin .msgTable li{width:100%; height:auto; }

.admin .msgTable li:nth-child(odd){background: #f0f0f0;}
.admin .msgTable li.msgTitle{background:#d0af51;}

.admin .msgTable li span{text-align: center; display:block; float: left; padding:10px 0; font-family: 'Noto Sans KR'; font-weight: 300; } 
.admin .msgTable li span.msgNum{width:5%;}
.admin .msgTable li span.msgName{width:10%;}
.admin .msgTable li span.msgTit{width:35%;}
.admin .msgTable li span.msgReg{width:20%;}
.admin .msgTable li span.msgEmail{width:20%;}
.admin .msgTable li span.msgDelete{width:10%;}



.admin .msgTable li.msgTitle span{color:#fff;}
.admin .msgTable li.msgContents span,
.admin .msgTable li.msgContents span a{color: #838383;}
.admin .msgTable li.msgContents span.msgDelete a{background:#d0af51; color:#fff; padding:3px 10px; font-size:12px;}


.admin .msgTable li.msgContents:last-child{border-bottom: 1px solid #d0af51;}

/* admin view page style */
.adminViewBtns{width:80%; height: auto; margin:auto; text-align:right;}
.adminViewBtns a{padding:5px 15px; border:1px solid #d0af51;background:#d0af51; color:#fff; display:inline-block; margin-left:0;}
.adminViewBtns a:hover{background:#fff; color:#d0af51;}
.adminView div.writeBox{margin-bottom:10px;}

.adminPanel .adminSearch{display:flex; justify-content: flex-end; flex-wrap:wrap;}
.adminPanel div.search{float:right;}